ul {
  list-style: none;
  margin-left: -40px;
}

div#filterOptions, div#productList {
  float: left;
}

#filterOptions {
  width: 11%;
}

#productList {
  width: 89%;
}

button {
  margin: 10px 0 0 5px;
}

#productList div {
  margin: 0 0 10px 15px;
  float: left;
}
