ul {
  list-style: none;
  margin-left: -40px;
}

div#brandList, div#brandImages {
  float: left;
}

#brandList {
  width: 11%;
}

#brandImages {
  width: 89%;
}

button {
  margin: 10px 0 0 5px;
}

#brandImages div {
  margin: 0 0 10px 15px;
  float: left;
}
